<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="fhash.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <fhash.Properties.Settings>
            <setting name="SHA512" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SHA256" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SHA128" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MD5" serializeAs="String">
                <value>False</value>
            </setting>
        </fhash.Properties.Settings>
    </userSettings>
</configuration>